body{
    background-color: #c5c5a1;
    display: flex;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 230px;
    border: 1px solid black;
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    background-color: #a6c3ce;
    font-size: 20px;
    transition: transform 0.6s ease;
}

.two:hover {
    transform: scale(1.125);
  }
input{
    border-radius: 10px;
    border: none;
    height: 20px;
}
input:focus {
    outline: none; 
    border: none; 
  }
div:hover{
    background-color: #95c4d6;

}
body:hover{
    background-color: #caca94;
}
button{
    display: flex;
    justify-self: center;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid beige;
    background-color: #fff;
}
input:focus{
    border: 1px solid yellow;
}
h6{
    justify-self: center;
    font-weight: 800;
    font-size: larger;
    margin: auto 50px;
    margin-bottom: 20px;
    background-color: #1f8ccc;
    padding: 10px;
    border-radius: 10px;
}