body {
    background-color: #c5c5a1;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;           
    margin: 0;              
}

form{
  transition: transform 0.6s ease;
}
form:hover{
    transform: scale(1.1);
    border: 1px solid lightblue;
}